<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Comment">

	<select id="getComment" resultType="CommentVO">
		<![CDATA[
			SELECT * FROM COMMENT
			WHERE C_ID = #{c_id}
        ]]>
	</select>
	
	<select id="getCommentList" resultType="CommentVO">
		<![CDATA[
			SELECT * FROM COMMENT
			WHERE B_ID = #{b_id}
        ]]>
	</select> 
	
	<insert id="insert">
        <![CDATA[
			INSERT INTO COMMENT (B_ID,M_ID,C_CONTENT,C_REGDATE)
			VALUES (#{b_id},#{m_id},#{c_content},#{c_regdate})
        ]]>
    </insert>
    <update id="update">
    	<![CDATA[
    		UPDATE COMMENT
    		SET B_ID = #{b_id},
    			M_ID = #{m_id},
    			C_CONTENT = #{c_content},
    			C_REGDATE = #{c_regdate}
    		WHERE C_ID = #{c_id}
        ]]>
    </update>
    <delete id="delete">
    	<![CDATA[
			DELETE FROM COMMENT
			WHERE C_ID = #{c_id}
        ]]>
    </delete>
    
    

</mapper>
